// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@amb-width: 30ch;
@amb-height: 1.5em;
.atom-menu-bar {
  height: 5vh;
  width: 100%;
  display: flex;
  z-index: 1;
}
.amb--separator {
  width: 100% !important;
  background-color: @app-background-color !important;
}
.amb--icon {
  width: 2vw;
  height: 2vw;
  margin: 0.5vh;
  z-index: 50;
  display: inline-block;
  position: relative;
  &::before {
    background-color: @background-color-selected;
    height: 1.3em;
    width: 1.3em;
    text-align: center;
    padding: 0.3em, 0;
    border-radius: 50%;
  }
}
.amb--sub-menu {
  background-color: @app-background-color;
  min-width: @amb-width;
  position: absolute;
  display: none;
}
.amb--sub-menu-child:hover {
  background-color: @background-color-highlight;
}
.amb--icon:hover > .amb--sub-menu {
  display: block;
  position: absolute;
  z-index: 30;
  min-width: @amb-width;
  background-color: @app-background-color;
  color: @text-color;
}
.amb--sub-menu-child {
  display: flex;
  flex-direction: column;
  //padding: 1vh 0vh;
  > .amb--label {
    align-self: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.amb--left-map {
      align-self: flex-end;
    }
  }
  > .amb--keymap {
    align-self: flex-end;
    &.amb--left-map {
      align-self: flex-start;
    }
  }
}
.amb--sub-menu-child:hover > .amb--sub-menu {
  display: block;
  z-index: 69;
  color: @text-color;
  left: @amb-width;
  overflow: hidden;
}
.amb--sub-menu-child {
  height: @amb-height;
}

.amb-sub-menu-child > .amb--sub-menu {
  display: none;
}
.amb--bar-line {
  width: 0.3vh;
  height: 100%;
  background-color: @background-color-highlight !important;
  margin: 0px !important;
}
.amb--inline {
  display: inline-block !important;
}
.amb--keymap {
  position: absolute;
  height: 2vh;
  color: @text-color-subtle !important;
}
.amb--left-menu {
  right: 0ch !important;
}
.amb--left-child {
  > .amb--sub-menu {
      right: @amb-width !important;
      left: auto !important;
  }
}
.amb--menu-line{
  height: 0.1vh !important;
  background-color: @background-color-highlight !important;
}
.amb--none {
  display: none !important;
}
